<header class="page-header">
  <h1> Dashboard </h1>
</header>
<section>
    <strong>
      <%= "Number of categories:" %>
    </strong>
    <%= Category.count %>
  <div>
    <strong>
      <%= "Number of products:" %>
    </strong>
    <%= Product.count %>
  <div>
</section>


